page-appraisals {

}

.appraisals-background{
    background-image: url("http://images.iphone7pluswallpaper.com/Gallery/157_Cars/iphone-7-plus-wallpaper-3.jpg");
    background-size: cover;
}

.appraisals-logo{
    position: absolute;
    top: 0px;
    width: 85vw;
    margin-left: 4vw;
    margin-top: 10vh;
}
