<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="main-nav"><ion-icon name="pulse"></ion-icon> VHC</ion-title>
    </ion-navbar>
    <!-- <ion-navbar>
      <ion-title class="secondary-nav">
        Test
      </ion-title>
    </ion-navbar> -->
    <ion-toolbar border class="second-toolbar">
            <ion-buttons left>
                    <button ion-button icon-only color="royal" (click)="goBack()">
                      <ion-icon name="arrow-back"></ion-icon>
                    </button>
                  </ion-buttons>
                  <ion-title>New VHC</ion-title>

          
      </ion-toolbar>
  </ion-header>



<ion-content>
    <ion-scroll scrollY="true" style="width: 100%; height: 100%;">

    <ion-row class="incomplete-header">
        <ion-col col-10>
           <div class="title-incomplete">Incomplete</div>
        </ion-col>
        <ion-col col-2>
          <button outline color="light" small="true" ion-button (click)="hide()">
                <p *ngIf="hideMe">Hide ˅ </p>
                <p *ngIf="!hideMe">Show > </p>
          
          </button>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="hideMe">
        <ion-col col-12>
            <ion-card class="incomplete-list">
                <ion-searchbar></ion-searchbar>

                <ion-card-header>
                  
                </ion-card-header>
              
                <ion-card-content>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                </ion-card-content>
              
              </ion-card>
        </ion-col>
    </ion-row>

    <ion-row class="new-header">
            <ion-col col-10>
               <div class="title-new">New</div>
            </ion-col>
            <ion-col col-2>
              <button outline color="light" small="true" ion-button (click)="hideNew()">
                    <p *ngIf="hideMeNew">Hide ˅ </p>
                    <p *ngIf="!hideMeNew">Show > </p>
              
              </button>
            </ion-col>
        </ion-row>

    <ion-row *ngIf="hideMeNew">
        <ion-col col-12>
            <ion-card class="incomplete-list">
                

                <ion-card-header>
                  
                </ion-card-header>
              
                <ion-card-content>
                    <!-- 25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel -->
                    
                    
                    <!-- <img class="reg-pic" src="assets/imgs/yourreg.png"> -->

                    <ion-item>
                            <ion-label color="primary">Registration</ion-label>
                            <ion-input></ion-input>
                    </ion-item>

                    <hr>

                    <ion-item>
                            <ion-label color="primary">Mileage</ion-label>
                            <ion-input></ion-input>
                    </ion-item>

                    <hr>

                    <button class="get-details-button" color="secondary" ion-button block icon-end>
                            Get Details
                    <ion-icon name="search"></ion-icon>
                    </button>

                </ion-card-content>
              
              </ion-card>
        </ion-col>
    </ion-row>

    </ion-scroll>

</ion-content>
