page-vhcnew { 
    $toolbar-md-title-font-size: 1rem;
}

ion-content{
    min-height: 100vh;
}

ion-item{
    border: #597eaa;
}

.reg-pic{
    width: 90vw;
    height: 55px;
}

.get-details-button{
    width: 90vw;
}

.second-toolbar{
    border: 1px;
}

.incomplete-header{
    background-color: #6aa84f;
    color: white;
    border: black;
    padding-left: 10px;

    .title-incomplete{
        margin-top: 4px;
    }

    button{
        width: 13vw;
        text-transform: none;
        padding: 0px;
        margin: 0px;
        height: 20px;
        margin-bottom: 2px;
    }
}

.incomplete-list{
    width: 97vw;
}


.new-header{
    background-color: #597eaa;
    color: white;
    border: black;
    padding-left: 10px;

    .title-new{
        margin-top: 4px;
    }

    button{
        width: 13vw;
        text-transform: none;
        padding: 0px;
        margin: 0px;
        height: 20px;
        margin-bottom: 2px;
    }
}

.show-icon{
    color: white;
}

