page-vhcnew { 
    $toolbar-md-title-font-size: 1rem;
}

ion-content{
    min-height: 100vh;
}

ion-item{
    border: #597eaa;
}

// .input-custom{
//     border-width: 1px;
//     // border-style: inset;
//     border-style: solid;
//     border-color: #597eaa;
//     border-image: initial;
//     height: 5vh;
//     max-width: 50vw;
//     position: right;
// }

.reg-pic{
    width: 90vw;
    height: 55px;
}

.get-details-button{
    width: 90vw;
}

.second-toolbar{
    border: 1px;
}

.incomplete-header{
    background-color: #6aa84f;
    color: white;
    border: black;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #2f4b23;

    .title-incomplete{
        margin-top: 4px;
    }

    button{
        width: 13vw;
        text-transform: none;
        padding: 0px;
        margin: 0px;
        height: 20px;
        margin-bottom: 2px;
    }
}

.incomplete-list{
    width: 97vw;
    height: 77vh;
}

.vhc-new-section-img{
    margin-top: -5vh;
    width: 97vw;
    margin-left: -4vw;
}


.new-header{
    background-color: #597eaa;
    color: white;
    border: black;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #2a3a4e;

    .title-new{
        margin-top: 4px;
    }

    button{
        width: 13vw;
        text-transform: none;
        padding: 0px;
        margin: 0px;
        height: 20px;
        margin-bottom: 2px;
    }
}

.show-icon{
    color: white;
}

