<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="main-nav"><ion-icon name="pulse" class="vhc-icon"></ion-icon> VHC</ion-title>
    </ion-navbar>
    <!-- <ion-navbar>
      <ion-title class="secondary-nav">
        Test
      </ion-title>
    </ion-navbar> -->
    <ion-toolbar border class="second-toolbar">
            <ion-buttons left>
                    <button ion-button icon-only color="royal" (click)="goBack()">
                      <ion-icon name="arrow-back"></ion-icon>
                    </button>
                  </ion-buttons>
                  <ion-title>New VHC</ion-title>

          
      </ion-toolbar>
  </ion-header>



<ion-content scroll="true">
    

    <ion-row class="incomplete-header" (click)="hide()">
        <ion-col col-10>
           <div class="title-incomplete">Incomplete</div>
        </ion-col>
        <ion-col col-2>
          <button clear color="light" small="true" ion-button (click)="hide()">
                <p *ngIf="hideMe">Hide ˅ </p>
                <p *ngIf="!hideMe">Show > </p>
          
          </button>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="hideMe">
        <ion-col col-12>
            <ion-card class="incomplete-list">
                <ion-searchbar></ion-searchbar>

                <ion-card-header>
                  
                </ion-card-header>
              
                <ion-card-content>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>
                    25497 - MAZ7 - Mr Douglas Hurd -\n Land Rover - Range Rover Sport Sdv6\n Hse Estate 3.0 Automatic Diesel
                    <hr>

                </ion-card-content>
              
              </ion-card>
        </ion-col>
    </ion-row>

    <ion-row class="new-header">
            <ion-col col-10>
               <div class="title-new">New</div>
            </ion-col>
            <ion-col col-2>
            </ion-col>
        </ion-row>

    <ion-row *ngIf="hideMeNew">
        <ion-col col-12>
            <ion-card class="incomplete-list">
                

                <ion-card-header>
                </ion-card-header>
              
                <ion-card-content>

                    <div class="vhc-new-section-img">
                        <img src="assets/imgs/vhc-new-section.PNG"/>
                    </div>


                    <!-- <ion-item>
                            <ion-label color="primary">Registration</ion-label>
                           
                                <ion-input type="text"></ion-input>
                            
                    </ion-item>

                    <hr>

                    <ion-item>
                            <ion-label color="primary">Mileage</ion-label>
                            <span item-end>
                                <ion-input class="input-custom"></ion-input>
                            </span>    
                    </ion-item>

                    <hr>

                    <button class="get-details-button" color="g-button" ion-button block icon-end>
                            Get Details
                    <ion-icon name="search"></ion-icon>
                    </button>

                    <form>
                            <ion-item>
                              <ion-label>Todo</ion-label>
                              <ion-input class="input-custom" type="text" name="title"></ion-input>
                            </ion-item>
                            <button ion-button type="submit" block>Add Todo</button>
                    </form> -->

                </ion-card-content>
              
              </ion-card>
        </ion-col>
    </ion-row>

</ion-content>
