page-home {

}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

.vhc-icon{
    color: #741b47;
}

.appraisals-icon{
    color: #073763;
}

.vehicles-icon{
    color: #134f5c;
}

.jobcard-icon{
    color: #274e13;
}

.stats-img{
    width: 80vw;
    margin-left: 10vw;
}

.scroll-content{
    
}
.toolbar-title{ 
    color: rgb(34, 34, 34);
}

.toolbar-background{
    background-color: rgb(245, 245, 245);
}
.secondary-nav{
    background-color: #33363a;
    border-top-color: #ccc;
    border-top: 100px;
}

.ion-md-menu{
    color: #ccc;
}

.card{
    margin: 0px;
}

.avatar-img{
    // position: absolute;
    // top: 0px;
    // height: 80px;
    // width: 80px;
    // margin-left: 40vw;
    // margin-top: 6vh;

    position: absolute;
    top: 0px;
    margin-top: 5vh;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    width: 100vw;
}

.dashboard-main{
    // background-image: url('https://stmed.net/sites/default/files/blue-white-wallpapers-25171-9939579.jpg');
}

.dashboard-background{
    // background-image: url("../../assets/imgs/img2.jpg");
    // background-repeat: no-repeat;
    //background: linear-gradient(#04050a, #6b7c9c);

}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      width: 100vw;
      height: 35vh;
      //background-color: #33363a;
    }

    ion-img{
        background: transparent !important;
    }
  
    .card-title {
      position: absolute;
      top: 19vh;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 0.8em;
      position: absolute;
      top: 23vh;
      width: 100%;
      color: #fff;
    }

    .dashboard-list{
        height: 72vh;
    }
  
  }
