page-home {

}

.scroll-content{
    overflow: hidden;
}
.toolbar-title{ 
    color: rgb(34, 34, 34);
}

.toolbar-background{
    background-color: rgb(245, 245, 245);
}
.secondary-nav{
    background-color: #33363a;
    border-top-color: #ccc;
    border-top: 100px;
}

.ion-md-menu{
    color: #ccc;
}

.card{
    margin: 0px;
}

.avatar-img{
    position: absolute;
    top: 0px;
    height: 20vh;
    width: 20vw;
    margin-left: 40vw;
    margin-top: 4vh;
}

.dashboard-main{
    // background-image: url('https://stmed.net/sites/default/files/blue-white-wallpapers-25171-9939579.jpg');
}

.dashboard-background{
    background-image: url("../../assets/imgs/img.jpg");
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      width: 100vw;
      height: 28vh;
      //background-color: #33363a;
    }
  
    .card-title {
      position: absolute;
      top: 61%;
      font-size: 1.7em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 78%;
      width: 100%;
      color: #fff;
    }

    .dashboard-list{
        height: 72vh;
    }
  
  }
