// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-title{
    color: rgb(34, 34, 34);
}

.menu-avatar{
  border: black;
}

.card-background-menu {

    ion-card {
      position: relative;
      text-align: center;
      width: 82vw;
      height: 15vh;
    }
  
    .card-title {
      position: absolute;
      top: 31%;
      font-size: 1.3em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      margin-left: 5vw;
    }
  
    .card-subtitle {
      font-size: 0.8em;
      position: absolute;
      top: 55%;
      width: 100%;
      color: #fff;
      margin-left: 5vw;
    }
  
  }

  .avatar-img-menu{
    position: absolute;
    top: 0px;
    height: 15vh;
    width: 15vw;
    margin-left: 5vw;
    margin-top: 3vh;
}