page-vhc {

}

.vhc-background{
    background-image: url("../../assets/imgs/img.jpg");
}

.vhc-logo{
    position: absolute;
    top: 0px;
    width: 75vw;
    margin-left: 9vw;
    margin-top: 5vh;
}

.section-menu{
    position: absolute;
    top: 0px;
    width: 100vw;
    margin-left: 17vw;
    margin-top: 53vh;
}

.button{
    width: 60vw;
    margin-bottom: 2vh;
}