page-vhc {

}

.vhc-background{
    background-image: url("http://hdphonewallpapers.com/content/FeXbB4qNCLmqwNNOasKQPRT5enHrNadQHA4KE8nC1fyLmQwaB9RBvlYxKb6Xv9Al.jpg");
}

.vhc-logo{
    position: absolute;
    top: 0px;
    width: 75vw;
    margin-left: 9vw;
    margin-top: 13vh;
}

.vhc-logo1{
    position: absolute;
    top: 0px;
    width: 15vw;
    margin-left: 39vw;
    margin-top: 8vh;
}

.section-menu{
    position: absolute;
    top: 0px;
    width: 100vw;
    margin-left: 17vw;
    margin-top: 43vh;
}

.button{
    width: 60vw;
    margin-bottom: 2vh;
}