page-vehicles {

}

.vehicles-background{
    background-image: url("https://4.bp.blogspot.com/-QpgyOmAGsAw/WC7h-BQ0vVI/AAAAAAAAplc/C2QP3VUMDOY_iZqMljnJgEltNI9X2KHogCEw/s1600/Top%2Bsports%2Bcar-hd-iPhone-7-and-iphone-7-plus-Wallpaper.jpg");
    background-size: cover;
}

.vehicles-logo{
    position: absolute;
    top: 0px;
    width: 85vw;
    margin-left: 4vw;
    margin-top: 10vh;
}
